@import "tailwindcss";

@utility container {
    max-width: 1320px;
    margin: 0 auto;
}

@theme{
    --font-poppins: "Poppins", sans-serif;
    /* ============================================ */
    --color-soft-primary: #84D187;
    --color-primary: #00B207;
    --color-hard-primary: #2C742F;
    --color-warning: #FF8A00;
    --color-danger: #EA4B48;
    --color-text: #666666;
    --color-secondary: #999999;
    --color-sub-secondary: #4D4D4D;
    --color-dark: #1A1A1A;
    --color-dark-primary: #333333;
    --color-light-blue: #f7f7f7;
    --color-light-gray: #808080
}